{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    <div class="my-4">
        <h1 class="font-weight-light" style="font-family: 'Times New Roman'; font-size: 210%;">Заполните следующие поля:</h1>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.author }}<br>
        {{ form.cupboard_number }}<br>
        {{ form.shelf_number }}<br>
        {{ form.comment }}<br>
        <button type="submit" class="btn btn-success">Добавить</button>
        <span>{{ error }}</span>
    </form>
</div>
{% endblock %}